root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

# important: if this is not there, Combination Approvals will always fail because an additional white space is added at the end of each output
trim_trailing_whitespace = false
